{% extends 'base.html.twig' %}

{% block title %}Professeur{% endblock %}

{% block body %}
    <h1>Professeur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ professeur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ professeur.nom }}</td>
            </tr>
            <tr>
                <th>Matiere</th>
                <td>{{ professeur.matiere }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('professeur_index') }}">back to list</a>

    <a href="{{ path('professeur_edit', {'id': professeur.id}) }}">edit</a>

    {{ include('professeur/_delete_form.html.twig') }}
{% endblock %}
