<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="container">
        <h2>Navigation</h2>
        {% block body %}
        {% endblock %}
    </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
