{% extends 'base.html.twig' %}

{% block body %}

    <h2>Name : {{ persone.name }}</h2>
    <h2>This is my first controller</h2>
    <h2>Fullname : {{ persone.fullname }}</h2>
    <h2>Age : {{ persone.age }}</h2>
    <hr>



{% endblock %}

